.CardFloor {
    width: 450px;
    height: 100px;
    background-image: linear-gradient(to bottom right, #48c6ef, #6f86d6);
    position: relative;
    border-radius: 0 0 75px 25px;    
    display: table;
}

.List {
    list-style-type: none;
    padding-top: 7.5px;
    margin: auto;
}

.List li {
    display: inline-block;
    text-align: center;
    margin: 10px;
}

.List a {
    text-decoration: none !important;
}

.List i {
    margin: 10px;
    color: #d7d7d7;
    opacity: 0.75;
}

.Number {
    color: white !important;
    opacity: 1 !important;
    font-size: 27.5px;
    font-weight: 700;
    font-style: normal;
}