.CardHead {
    width: 450px;
    height: 350px;
    background-image: linear-gradient(to bottom right, #D7E1EC, #FFFFFF);
}

.Avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    padding: 20px;
    margin: auto;
    border-radius: 50%;
}

.Avatar::placeholder {
    color: white;
}