.ErrorCard {
    width: 450px;
    height: 425px;
    background-image: linear-gradient(to bottom right, #D7E1EC, #FFFFFF);
    border-radius: 0 0 75px 25px;
    position: relative;
}

.CuteImage {
    position: absolute;
    width: 325px;
    height: 325px;
    margin: 0 auto;
    top: 40%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.Ooops {
    position: absolute;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    cursor: default;
    color: #1c7fa0;
    top: 82.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Message {
    position: absolute;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    cursor: default;
    color: #1c7fa0;
    top: 92.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}