.SearchCard {
    width: 450px;
    height: 500px;
    margin: auto;
    padding: auto;
    border-radius: 75px 25px; 
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.SearchCard:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.InputField {
    width: 29%;
    height: 15%;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
    outline: none;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    border: none;
    border-radius: 75px 25px 25px 0;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    background-color: #f5f5f5;
}

.InputField:focus {
    width: 100%;
    border-radius: 75px 25px 0 0;
}